		<header>
			<div class="constraint">
				<h1><%= link_to "SGA Design", root_url %></h1>
				<nav>

<% if user_signed_in? %>
					<%= link_to "Orders", orders_path %>
	<% if can? :manage, User %>
					<%= link_to "Users", users_path %>
	<% end %>
	<% if can? :index, Organization %>
					<%= link_to "Organizations", organizations_path %>
	<% end %>
					<%= link_to "Profile", user_path(current_user), :class => "profile", :title => "Profile" %>
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "logout", :title => "Log Out" %>
<% else %>
					<%= link_to "Sign Up", new_user_registration_path, :class => "signup", :title => "Sign Up" %>
					<%= link_to "Sign In", root_url, :class => "signin", :title => "Sign In" %>
<% end %>
				</nav>
			</div>
		</header>
