<!DOCTYPE html>
<html>
	<head>
		<title>SGA Design</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<script type="text/javascript" src="//use.typekit.net/jot3hlx.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body class="<%= controller_name %> <%= action_name %>">
<%= render 'layouts/header' %>

<%= render 'layouts/messages' %>

		<div class="main">
<%= yield %>
		</div>

<%= render 'layouts/footer' %>
	</body>
</html>
